html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,small,strike,strong,b,u,i,center,dl,dt,dd,ol,ul,li,footer,header,hgroup,menu,nav,section,mark
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
footer,header,hgroup,menu,nav,section
{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after
{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{-webkit-text-size-adjust:none}

/* Box Model */

	*, *:before, *:after {
		box-sizing: border-box;
		
	}

/* Container */

	body {
		/* min-width: (containers) */
		min-width: 1200px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;		
		/* width: (containers) */
		width: 1200px;
	}

	/* Modifiers */
	
		.container.small {
			/* width: (containers) * 0.75; */
			width: 900px;
		}

		.container.big {
			width: 100%;

			/* max-width: (containers) * 1.25; */
			max-width: 1500px;

			/* min-width: (containers); */
			min-width: 1200px;
		}

/* Grid */

	.\31 2u { width: 100% }
	.\31 1u { width: 91.6666666667% }
	.\31 0u { width: 83.3333333333% }
	.\39 u { width: 75% }
	.\38 u { width: 66.6666666667% }
	.\37 u { width: 58.3333333333% }
	.\36 u { width: 50% }
	.\35 u { width: 41.6666666667% }
	.\34 u { width: 33.3333333333% }
	.\33 u { width: 25% }
	.\32 u { width: 16.6666666667% }
	.\31 u { width: 8.3333333333% }
	.\-11u { margin-left: 91.6666666667% }
	.\-10u { margin-left: 83.3333333333% }
	.\-9u { margin-left: 75% }
	.\-8u { margin-left: 66.6666666667% }
	.\-7u { margin-left: 58.3333333333% }
	.\-6u { margin-left: 50% }
	.\-5u { margin-left: 41.6666666667% }
	.\-4u { margin-left: 33.3333333333% }
	.\-3u { margin-left: 25% }
	.\-2u { margin-left: 16.6666666667% }
	.\-1u { margin-left: 8.3333333333% }

	/* Rows */

		.row > * {
			float: left;
		}

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0 !important;
		}

		/* Normal */

			.row > * {
				/* padding-left: (gutters) */
				padding-left: 40px;
			}

			.row + .row > * {
				/* padding: (gutters) 0 0 (gutters) */
				padding: 40px 0 0 40px;
			}

			.row {
				/* margin-left: -(gutters) */
				margin-left: -40px;
			}

		